<!DOCTYPE html>
<html>

<head>
    <title>Selups</title>
    <link rel="stylesheet" href="/style/apprentice.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <table id="messages">
        <tbody id="mtb">
            <% for(var i=0; i < messages.length; i++) { %>
            <tr>
                <td class="username"><%= messages[i].id %></td>
                <td class="message"><%= messages[i].msg %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <form id="form" action="" data-username="<%= username %>">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/script.js"></script>
</body>

</html>