<!DOCTYPE html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/style/apprentice.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <table id="messages">
        <tbody>
        </tbody>
    </table>
    <form id="form" action="" data-username="<%= username %>">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/script.js"></script>
</body>

</html>