<!DOCTYPE html>
<html>

<head>
    <title>Selups</title>
    <link rel="stylesheet" href="/style/apprentice.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <table id="messages">
        <tbody>
            <tr>
                <td class="username">System</td>
                <td class="message">Welcome!</td>
            </tr>
            <tr>
                <td class="username">System</td>
                <td class="message">Please enter your username in the box below.</td>
            </tr>
        </tbody>
    </table>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Enter</button>
    </form>
</body>

</html>