body {
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 5px;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>table {
    padding: 0.5rem 1rem;
    margin: 6px;
}

table {
    width: 100%;
    border: solid 3px #1C1C1C;
    border-radius: 5px;
}

.info {
    border: none !important;
    vertical-align: text-top;
    width: 200px;
    background-color: #1C1C1C;
    font-family: monospace;
}

.message {
    border: none !important;
    padding-left: 10px;
    background-color: #262626;
}